In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [31]:
data = pd.read_csv(r'hotel _reviews.csv',sep=",",encoding='cp1252')
data.head()

   Unnamed: 0                                             review  label
0       18245  This short spoof can be found on Elite's Mille...      0
1       19801  A singularly unfunny musical comedy that artif...      0
2        3222  An excellent series, masterfully acted and dir...      1
3        6010  The master of movie spectacle Cecil B. De Mill...      1
4       16355  I was gifted with this movie as it had such a ...      0

In [11]:
data.dropna(inplace=True)
data[data['Review_Rating'] != 3]
data['sentiment'] = np.where(data['Review_Rating'] > 3, 1, 0)

1,2,3 rating = 0, negative
4,5 rating  =1, positive

In [14]:
data.head(10)

,Property_Name,Review_Rating,Review_Title,Review_Text,Location Of The Reviewer,Date Of Review,sentiment
0,Apex London Wall Hotel,5,Ottima qualità prezzo,Siamo stati a Londra per un week end ed abbiam...,"Casale Monferrato, Italy",10/20/2012,1
1,Corinthia Hotel London,5,"By far, my best hotel in the world",I had a pleasure of staying in this hotel for ...,"Savannah, Georgia",3/23/2016,1
2,The Savoy,5,First visit to the American Bar at the Savoy,A very lovely first visit to this iconic hotel...,London,7/30/2013,1
3,Rhodes Hotel,4,Nice stay,3 of us stayed at the Rhodes Hotel for 4 night...,"Maui, Hawaii",6/2/2012,1
4,The Savoy,5,Perfection,Form the moment we arrived until we left we ex...,"London, United Kingdom",11/24/2017,1
5,Apex London Wall Hotel,5,Great customer service and comfy bed,"The hotel staff were very helpful, I booked th...","Lostwithiel, United Kingdom",10/22/2017,1
6,Mondrian London at Sea Containers,5,"Yes, it's really good!",Already stepping out of the taxi you get that ...,Stockholm,12/16/2014,1
7,Mondrian London at Sea Containers,5,Incredible,What an incredibly cool place. Had the most de...,"London, England, United Kingdom",3/5/2016,1
8,Rhodes Hotel,5,Ottima scelta!,"Ottimo rapporto qualità - prezzo, ottima la po...",Cagliari,2/7/2011,1
9,The Savoy,5,Best in Town,"The Savoy is The Savoy, every time I came back...","Milan, Italy",5/18/2017,1

Split the data

In [16]:

x_train, x_test, y_train, y_test = train_test_split(data['Review_Text'], data['sentiment'], random_state = 0)

In [28]:
print('\n\nX_train shape: ', x_train.shape)

X_train shape:  (652,)

In [18]:
vect = CountVectorizer().fit(x_train)

CountVectorizer: convert the collection of words into: integer or float

In [21]:
len(vect.get_feature_names())

8813

In [22]:
x_train_vectorized = vect.transform(x_train)

In [24]:
model = LogisticRegression()
model.fit(x_train_vectorized, y_train)

LogisticRegression()

In [27]:
predictions = model.predict(vect.transform(x_test))

print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.5873737373737373